.container{
    max-width: 600px;
    margin: 2em auto;
    padding: 2em 0.5em 5em;
    /* background-color: rgb(210, 210, 210); */
    border-radius: 6px;

}

.bodyHeader {
    font-weight: bolder;
}

.bodyText {
    padding: 0 2em 1em;
}



.typography {
    display: flex;
    align-items: center;
}


.map{
    max-width: 60rem;
    margin: 1em auto;
    border: 2px solid var(--color-highlight2);
    height: auto;
}

.mapImage{
    width: 100%;
}

.locationLink {
    color: var(--color-highlight2);
    text-decoration: underline;
}

@media (min-width: 500px){
    .section {
        padding: 3em;
    }

    .container {
        padding: 2em;
    }
}