@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pragati+Narrow:wght@400;700&display=swap');
:root {
  --color-primary: #434344;
  --color-secondary: #f4f4f4;
  --color-dark: #535355;
  --color-highlight: rgba(234, 2, 234, 1);
  --color-highlight2: #30D5C8;
  
  font-family: "Pragati Narrow", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1.6em;
  letter-spacing: 0.1rem;
}

body {
  min-height: 100%;
  background-color: var(--color-secondary);
  background: url(https://res.cloudinary.com/abeonweb/image/upload/v1681971420/blackslab2_nqixz0.jpg);
  /* linear-gradient(159deg, rgba(255,255,255,0.65) 2%, rgba(202,202,203,0.65) 12%, rgba(219,218,221,0.65) 20%, rgba(255,255,255,0.65) 29%, rgba(244,242,242,0.65) 78%, rgba(202,202,203,0.65) 89%, rgba(255,255,255,0.65) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: 20%;
}

a {
  color: inherit;
  text-decoration: none;
}
